#mypage_body{
    position: relative;

}

h1{
    display: inline-block;
}

.row h2{
    font-size: 1.5em;
    margin-left: 15px;
    padding: 50px;
    letter-spacing: 3px;
    word-spacing: 1px;
}
.btn { 
    
    padding: 10px;
    margin-left:110px ;
 
}

.resume_count {
    font-weight: bold;
    color: blue;
}
.btn-list {
    background: #0080ff;
    color: white;
}
#a {

    font-size: 1.2em;
    margin: 0;
    padding: 50px;
    margin-left: 0px;
}
#b {
    font-size: 1.2em;
    margin: 0;
    padding: 50px;
    margin-left: 0px;
}
#c {
    font-size: 1.2em;
    margin: 0;
    padding: 50px;
    margin-left: 0px;
}
.contents{
    margin: 0;
    padding: 0;
    background: #0080ff;
}

#d, #e, #f{
    background: silver;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
}
#g{
    margin-left: 30px;
    padding: 0 auto;
}
#f {
    margin: 200px;

}
#comp_image{
    max-width: 50px;
    max-height: 50px;
}

#stat_img {
    max-width: 250px;
    max-height: 250px;
}
td{


}
.table{
    margin: auto;
    padding: 0 auto;
}

#situ { 
    margin-left: 650px;
    margin-top: 30px;

}

.statistics_title{
    color: black;
    display : inline-block;
    margin-bottom: 0px;
    padding: 50px;
    font-size: 25px;
    margin-left : 38%;

}
.table tr > th, td {

    padding: 50%;
    margin: 50%;
    text-align: center;
} 

 #stat_header {

    background-color: skyblue;

} 
#stats_img{
    height:600px;
    width: 600px;
}
#stats_font{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
}